/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
  background-color: #05203c;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
  padding: 50px;
}
header .logo {
  cursor: pointer;
}
header .logo,
header .menu {
  width: 50%;
}
header .menu {
  text-align: end;
}
header .menu span {
  margin: 0 5px;
  cursor: pointer;
}
header .menu span.active {
  text-decoration: underline;
}
header .search-input {
  width: 100%;
  text-align: center;
}
header .search-input input {
  text-align: start;
  color: #05203c;
  caret-color: #05203c;
  width: 75%;
  height: 50px;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
}
header .search-input input:focus {
  outline: none;
}
header .search-options {
  background: #fff;
  color: #05203c;
  width: 75%;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
}
header .search-options .suggestion {
  padding: 10px;
  cursor: pointer;
  transition: 0.1s;
}
header .search-options .suggestion:hover {
  background-color: #dfdfdf;
}
header .search-options.scroll-add {
  height: 136px;
  overflow-y: scroll;
}
header .search-options ::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
.search-results {
  width: fit-content;
    display: block;
    margin: auto 20px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: auto 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front img {
  padding: 0;
  margin: 0;
  width: 500px;
  height: 250px;
}

/* Style the back side */
.flip-card-back {
  background-color: #05203c;
  color: white;
  transform: rotateY(180deg);
}
